* { box-sizing: border-box; }
 body { margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased; 
   -moz-osx-font-smoothing: grayscale; 
   background-color: #fafafa; 
   color: #212121; 
   line-height: 1.5; }

   .gallery {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 100px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;

  width: 1408px; 
}

.gallery li {
  flex: 0 1 calc((100% - 48px) / 3); 
  /* box-sizing: border-box;
  overflow: hidden;
  border-radius: 18px;
  background: #ddd; видно межі */
}

.gallery img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}